
                                                                                                                                                                                                                                                                                                                  @charset "utf-8";
/*.tui-390_590{ display:none; }*/
.top_ad{ margin-top:10px; padding:10px 0px; background:#EEEEEE; }
.static_adpic{ max-width:1000px; }
.tui-box{ margin:0px auto; }
.foot{ width:1000px; margin:0px auto; }
.static-space{ height:12px; }
.tui-list-box .hd h2{ font-size:20px !important; }
.tui-right .tui-list-box .hd h2{ font-size:14px !important; }
.tui-390_590 .tui-left, .tui-390_430_140 .tui-left{ width:370px; padding:0px; margin-right:19px; }
.tui-390_590 .tui-right, .tui-390_430_140 .tui-center{ border-left:1px solid #EAEAEA; padding-left:20px; _padding-left:19px; }
.pic-l ul li{ margin:0px 0px 12px 0px; padding:0px 0px 12px 0px; border-bottom:1px dashed #EDEDED }
.tui-pic-text .subject{ margin-bottom:5px; font-size:16px !important; }
.tui-pic-text .summary{ line-height:24px; font-size:12px; }
.tui-right .tui-pic-text .subject{ margin-bottom:5px; font-size:14px !important; }
.pic-l ul li .pic{ margin:5px 15px 0px 0px; }
.user ul li{ margin:0px 0px 8px 0px; padding:0px 0px 8px 0px; border-bottom:1px dashed #EDEDED }
.user .subject{ margin-bottom:3px; }
.user ul li .pic{ margin:0px 10px 0px 0px; }
.top-topic ul li{ line-height:28px; }
.top-topic ul li h3{ line-height:28px; height:28px; }
.topic ul li{ margin:0px; padding:0px; border:none; }
.topic ul li .summary{ padding-top:22px; }
.top_pic ul li{ margin-top:15px; padding-bottom:12px; }
.top_pic ul li .subject{ margin:10px 0px 2px 0px; }
.pic-c ul li .summary, .pic-t ul li .summary{ margin:0px; }
.topnews_tl ul li{ background:url(http://cms.tianyaui.com/cms_fragments/res/4778/images/groups.jpg) no-repeat scroll 0px 26px; padding-bottom:2px; margin-bottom:10px; border-bottom:1px solid #EDEDED; }
.topnews_tl ul li .showSubTitle,.topnews_tl ul li .summary{ margin-left:36px; }
/*.tui-pic-text ul li .additionalItem{ background:url(http://cms.tianyaui.com/cms_fragments/res/4778/images/from.png) no-repeat scroll -1px -3px; padding-left:38px; }*/
.tui-pic-text ul li .showSubtitle{ background:url(http://cms.tianyaui.com/cms_fragments/res/4778/images/from.png) no-repeat scroll -1px -3px; padding-left:38px; display:inline; margin-right:10px;  }
.tui-pic-text ul li .additionalItem a{ color:#4774A2; }
.tui-pic-text ul li .additionalItem a:hover{ color:#FF3300; }
.tui-topnews h3, .tui-topnews .summary{ margin:0px; }
.tui-topnews h3, .tui-topnews .subject2, .tui-topnews .summary{ line-height:24px; }
.tui-topnews .summary{ margin-bottom:5px; }
.shendu_list ul li,.shendu_list ul li h3{ line-height:26px; }
.shendu_list ul li h3{ height:26px; }
.subTitleCenter{ text-align:left; }
.subject2{ padding-top:5px; font-weight:normal; }
/*.subject2 a{ cursor:default; color:#747474; }
.subject2 a:hover{ text-decoration:none; color:#747474; }*/
.tui-text-list.li-0 ul li{ margin:0px 2px 0px 0px; *margin:0px 6px 0px 0px; line-height:12px; line-height:24px\9; }
.tui-text-list.li-0 ul li h3{ line-height:12px; line-height:24px\9; }
/*.qiye_list{ width:430px; height:505px; overflow:hidden; }*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
body{ width:1020px; margin:0px auto; }
.cms_head{ margin-bottom:0px; }
.top_ad{ margin-top:25px; }
.tui-text-list.li-0 ul li{ margin:0px 4px 4px 0px; line-height:16px; }
.tui-text-list.li-0 ul li h3{ line-height:16px; }
}
.pic-c ul li .subject{ margin-top:10px; }
.wenda_list ul li{ background:url(http://cms.tianyaui.com/cms_fragments/res/4778/images/wenda.jpg) no-repeat; width:430px; height:130px; }
.wenda_list ul li .subject{ line-height:28px; margin:0px 0px 0px 20px; }
.wenda_list ul li .summary{ line-height:24px; margin:20px 10px 0px 20px; }
.wenda-list ul li{ line-height:28px; }
.wenda-list ul li h3{ background:url(http://cms.tianyaui.com/cms_fragments/res/4778/images/wenda.jpg) no-repeat scroll -3px 0px; line-height:28px; height:28px; padding-left:15px;  }
.catch_button{ width:420px; height:40px; z-index:999999; }
.catch_button ul li{ float:right; clear:none; margin:21px 0px 0px 5px; }
.catch_button .bbs li{ margin-top:14px; }
.catch_button ul li img{ width:18px; height:18px; }
.catch_list{ margin-top:-40px; z-index:0; }
.catch_list .bd{ overflow:hidden; position:relative; }
.catch_pic ul li .pic img{ max-width:95px !important; max-height:95px !important; width:auto !important; height:auto !important; _width:95px !important; _height:95px !important; }
#qiye_div .pic-l ul li{ margin:0px 0px 8px 0px; padding:0px 0px 8px 0px; height:90px; }
.tui-focus-pics0 .tui-focus-pics-smallpic .nav_bar{ margin-top:-25px; }
.tui-focus-pics0 .tui-focus-pics-smallpic, .tui-focus-pics0 .tui-focus-pics-smallpicbg{ text-align:left; height:35px; }
.tui-focus-pics0 .tui-focus-pics-smallpic .subject{ margin:-30px 0 0 10px; }
.opacity .tui-focus-pics-smallpicbg{ margin:-35px 0 0; }
.tui-focus-pics0 .tui-focus-pics-smallpic li{ background:url("http://cms.tianyaui.com/cms_fragments/res/4778/images/focus-off.gif") scroll 0 0 no-repeat; margin:7px 8px 0px 0px; padding:0px; width:10px; height:10px; font-size:0px; line-height:0px; }
.tui-focus-pics0 .tui-focus-pics-smallpic li.selected{ background:url("http://cms.tianyaui.com/cms_fragments/res/4778/images/focus-on.gif") scroll 0 0 no-repeat; }
.tui-tabsection .hd .tabon{ border:1px solid #1D80DD; border-bottom:none; }
.tui-tabsection .hd .taboff{ background:none; }
.tui-tabsection .hd .tabon,.tui-tabsection .hd .taboff{ float:right; margin:5px 10px 0px; }
.tui-tabsection .hd ul li a:hover{ text-decoration:none; color:#2D2D2D; }
.weibo_content ul li .summary{ width:430px; }
.bbs_list ul li{ height:126px; padding:0px 0px 7px 0px; *padding:0px 0px 3px 0px; overflow:hidden; }
.blog .pic-l ul li{ margin:0px 0px 8px 0px; padding:0px 0px 8px 0px; }
.blog .pic-l ul li .summary{ line-height:22px; }
.blog .pic-l ul li .additionalItem{ line-height:16px; }
.qiyepinpai ul li{ margin:12px 0px 0px 0px; padding:0px 0px 3px 0px; border-bottom:1px solid #E6E6E6; }
.qiyepinpai ul li .pic{ margin:0px; }
.qiyepinpai ul li .pic img{ max-width:95px !important; max-height:50px !important; width:auto !important; height:auto !important;  _height:50px !important; }
#cms_Location_9 .tui-left{ overflow:hidden; height:440px}
.tui-section .bd ul li a,.tui-pic-text ul li a,.tui-topnews ul li h3 a,#bbs_num_div,#bbs_num_div a{ color:#3E65A9 !important; }
.tui-section .hd h2 a{ color:#000000 !important; }
.tui-text-list ul li .detail a{ color:#A9A9A9 !important;}
.custom_css123125157 .hd{display : none ;}
.custom_css123125157 .bd{border-color : #3C83CA ;border-width : 7px ;border-left-style : none ;border-top-style : none ;border-bottom-style : solid ;border-right-style : none ;padding :0px ;}
.custom_css_bd12317752 {border : none ;padding : 0px ;}
.custom_css_bd1231866 ul li .subject a{font-weight : normal ;}
.custom_css_bd1231866 ul li .subject a{color : #4774A2 ;}
.custom_css_bd1231866 ul li img{border-style : solid ;}
.custom_css123145738 .hd{display : none ;}
.custom_css123145738 .bd{border-color : #EEEEEE ;border-width : 7px ;border-left-style : none ;border-top-style : none ;border-bottom-style : solid ;border-right-style : none ;padding-top : 12px ;padding-right : 0px ;padding-bottom : 12px ;padding-left : 0px ;}
.custom_css_bd123145738 ul li .subject {font-weight : normal ;color : #4774A2 ;}
.custom_css_bd123145738 ul li .subject a{font-weight : normal ;}
.custom_css_bd123145738 ul li .subject a{color : #4774A2 ;}
.custom_css_bd123145738 ul li .subject a:hover{color : #4774A2 ;}
.custom_css_bd123145738 ul li img{border-style : solid ;}
.custom_css123185849 .hd{background:none; background-image :  url(http://cms.tianyaui.com/cms_fragments/res/4778/images/section.jpg             );background-repeat : no-repeat ;background-position : 8px 12px ;border : none ;height : 30px ;}
.custom_css123185849 .hd h2{line-height : 25px ;}
.custom_css123185849 .hd{padding-top : 18px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css123185849 .hd h2{color : #000000 ;font-family : 宋体 ;font-size : 14px ;font-weight : bold ;}
.custom_css123185849 .bd{border : none ;display : none ;padding : 0px ;}
.custom_css_bd12415455 ul li .subject a{font-weight : normal ;}
.custom_css_bd12415455 ul li .subject a{color : #006AAD ;}
.custom_css_bd12415455 ul li .summary{color : #858585 ;font-size : 14px ;}
.custom_css_bd12415455 ul li img{border-style : solid ;}
.custom_css_bd125174859 ul li a{color : #1E6FAD ;}
.custom_css12517528 .hd{background:none; background-image :  url(http://cms.tianyaui.com/cms_fragments/res/4778/images/section.jpg                        );background-repeat : no-repeat ;background-position : 8px 3px ;border : none ;height : 20px ;}
.custom_css12517528 .hd h2{line-height : 20px ;}
.custom_css12517528 .hd{padding-top : 12px ;padding-right : 0px ;padding-bottom : 15px ;padding-left : 0px ;}
.custom_css12517528 .hd h2{color : #000000 ;font-family : 宋体 ;font-size : 14px ;font-weight : bold ;}
.custom_css12517528 .bd{border : none ;display : none ;padding : 0px ;}
.custom_css126145644 .hd{background : none ;border : none ;}
.custom_css126145644 .hd{padding-top : 12px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css126145644 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css126145644 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd126145644 ul li .subject a{font-weight : normal ;}
.custom_css_bd126145644 ul li .subject a{color : #4774A2 ;}
.custom_css_bd126145644 ul li img{border-style : solid ;}
.custom_css12614593 .hd{background:none; background-color : #F1F1F1 ;border : none ;}
.custom_css12614593 .hd{padding-top : 5px ;padding-right : 0px ;padding-bottom : 0px ;padding-left : 10px ;}
.custom_css12614593 .hd h2{color : #030303 ;font-size : 14px ;font-weight : bold ;}
.custom_css12614593 .bd{background:none; background-color : #F1F1F1 ;border : none ;padding-top : 10px ;padding-right : 20px ;padding-bottom : 10px ;padding-left : 20px ;}
.custom_css_bd12615127 ul li a{color : #7B7B7B ;}
.custom_css127175844 .hd{display : none ;}
.custom_css127175844 .bd{background : none ;border : none ;padding-top : 0px ;padding-right : 0px ;padding-bottom : 5px ;padding-left : 5px ;}
.custom_css_bd127175742 ul li .subject a{font-weight : bold ;}
.custom_css_bd127175742 ul li img{border-style : solid ;}
.custom_css1213184340 .hd{background : none ;border-width : 0px ;border-left-style : none ;border-top-style : none ;border-bottom-style : none ;border-right-style : none ;}
.custom_css1213184340 .hd{padding-top : 5px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css1213184340 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css1213184340 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd1213184340 ul li .subject a{font-weight : normal ;}
.custom_css_bd1213184340 ul li .subject a{color : #4774A2 ;}
.custom_css_bd1213184340 ul li img{border-style : solid ;}
.custom_css1213185628 .hd{background : none ;border-color : #1D80DD ;border-width : 2px ;border-left-style : none ;border-top-style : none ;border-bottom-style : solid ;border-right-style : none ;}
.custom_css1213185628 .hd{padding-top : 0px ;padding-right : 10px ;padding-bottom : 0px ;padding-left : 10px ;}
.custom_css1213185628 .hd .tabon{border-color : #1D80DD ;border-width : 1px ;border-top-style : none ;border-bottom-style : none ;border-right-style : none ;}
.custom_css1213185628 .static-tab-column-bd .bd{background : none ;border : none ;}
.custom_css1213185959 .hd{background : none ;border-color : #1D80DD ;border-width : 1px ;border-left-style : none ;border-top-style : none ;border-bottom-style : solid ;border-right-style : none ;}
.custom_css1213185959 .static-tab-column-bd .bd{background : none ;border : none ;padding-top : 10px ;padding-right : 0px ;padding-bottom : 10px ;padding-left : 0px ;}
.custom_css1213184414 .hd{background : none ;border : none ;}
.custom_css1213184414 .hd{padding-top : 14px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css1213184414 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css1213184414 .bd{display : none ;}
.custom_css_bd12140737 ul li .subject a{font-weight : bold ;}
.custom_css_bd12140737 ul li img{border-style : solid ;}
.custom_css121402156 .hd{background : none ;border-color : #EEEEEE ;border-width : 7px ;border-left-style : none ;border-top-style : solid ;border-bottom-style : none ;border-right-style : none ;}
.custom_css121402156 .hd{padding-top : 5px ;padding-right : 0px ;padding-bottom : 12px ;padding-left : 0px ;}
.custom_css121402156 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css121402156 .bd{display : none ;}
.custom_css123182913 .hd{display : none ;}
.custom_css123182913 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd123181054 ul li h3 a{color : #4774A2 ;}
.custom_css_bd123181054 ul li h3 a:hover{color : #FF3300 ;}
.custom_css_bd123181054 a{color : #999999 ;}
.custom_css_bd123181054 a:hover{color : #FF3300 ;}
.custom_css12141717 .hd{background : none ;border : none ;}
.custom_css12141717 .hd{padding-top : 12px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css12141717 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css12141717 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd12141717 ul li .subject a{font-weight : normal ;}
.custom_css_bd12141717 ul li .subject a{color : #4774A2 ;}
.custom_css_bd12141717 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd12141717 ul li img{border-style : solid ;}
.custom_css_bd124181522 ul li .subject a{font-weight : normal ;}
.custom_css_bd124181522 ul li .subject a{color : #006AAD ;}
.custom_css_bd124181522 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd124181522 ul li .summary{color : 12px ;font-size : 12px ;}
.custom_css_bd124181522 ul li img{border-style : solid ;}
.custom_css_bd12612146 ul li h3 a{color : #4774A2 ;}
.custom_css_bd12612146 ul li h3 a:hover{color : #FF3300 ;}
.custom_css_bd121411835 ul li h3 a{color : #4774A2 ;}
.custom_css_bd121411835 ul li h3 a:hover{color : #FF3300 ;}
.custom_css_bd121411849 ul li h3{font-weight : bold ;}
.custom_css_bd121411849 h3 a{color : #006AAD ;}
.custom_css_bd121411849 h3 a:hover{color : #FF3300 ;}
.custom_css_bd121411849 .summary a{color : #747474 ;}
.custom_css_bd121411849 .summary a:hover{color : #747474 ;}
.custom_css_bd121411849 .summary{color : #747474 ;}
.custom_css_bd12141198 ul li h3 a{color : #4774A2 ;}
.custom_css_bd12141198 ul li h3 a:hover{color : #FF3300 ;}
.custom_css_bd121411919 ul li h3{font-weight : bold ;}
.custom_css_bd121411919 h3 a{color : #006AAD ;}
.custom_css_bd121411919 h3 a:hover{color : #FF3300 ;}
.custom_css_bd121411919 .summary a{color : #747474 ;}
.custom_css_bd121411919 .summary a:hover{color : #747474 ;}
.custom_css_bd121411919 .summary{color : #747474 ;}
.custom_css_bd123191714 ul li h3 a{color : #4774A2 ;}
.custom_css_bd123191714 ul li h3 a:hover{color : #FF3300 ;}
.custom_css_bd12319153 ul li h3{font-weight : bold ;}
.custom_css_bd12319153 h3 a{color : #006AAD ;}
.custom_css_bd12319153 h3 a:hover{color : #FF3300 ;}
.custom_css_bd12319153 .summary a{color : #747474 ;}
.custom_css_bd12319153 .summary a:hover{color : #747474 ;}
.custom_css_bd12319153 .summary{color : #747474 ;}
.custom_css123185350 .hd{background : none ;border : none ;}
.custom_css123185350 .hd{padding-top : 12px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css123185350 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css123185350 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd123185350 ul li .subject a{font-weight : normal ;}
.custom_css_bd123185350 ul li .subject a{color : #4774A2 ;}
.custom_css_bd123185350 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd123185350 ul li img{border-style : solid ;}
.custom_css123165825 .hd{background : none ;border : none ;}
.custom_css123165825 .hd{padding-top : 5px ;padding-right : 0px ;padding-bottom : 0px ;padding-left : 0px ;}
.custom_css123165825 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css123165825 .bd{display : none ;}
.custom_css123185149 .hd{background : none ;border-color : #DDDDDD ;border-width : 7px ;border-left-style : none ;border-top-style : solid ;border-bottom-style : none ;border-right-style : none ;}
.custom_css123185149 .hd{padding-top : 5px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css123185149 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css123185149 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd123185149 ul li .subject a{font-weight : normal ;}
.custom_css_bd123185149 ul li .subject a{color : #4774A2 ;}
.custom_css_bd123185149 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd123185149 ul li img{border-style : solid ;}
.custom_css121411649 .hd{background : none ;border-color : #DDDDDD ;border-width : 7px ;border-left-style : none ;border-top-style : solid ;border-bottom-style : none ;border-right-style : none ;}
.custom_css121411649 .hd{padding-top : 8px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css121411649 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css121411649 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd121411649 ul li .subject a{font-weight : normal ;}
.custom_css_bd121411649 ul li .subject a{color : #4774A2 ;}
.custom_css_bd121411649 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd121411649 ul li img{border-style : solid ;}
.custom_css121411725 .hd{background : none ;border-color : #DDDDDD ;border-width : 7px ;border-left-style : none ;border-top-style : solid ;border-bottom-style : none ;border-right-style : none ;}
.custom_css121411725 .hd{padding-top : 5px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css121411725 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css121411725 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd121411725 ul li .subject a{font-weight : normal ;}
.custom_css_bd121411725 ul li .subject a{color : #4774A2 ;}
.custom_css_bd121411725 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd121411725 ul li img{border-style : solid ;}
.custom_css121411753 .hd{background : none ;border-color : #DDDDDD ;border-width : 7px ;border-left-style : none ;border-top-style : solid ;border-bottom-style : none ;border-right-style : none ;}
.custom_css121411753 .hd{padding-top : 5px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css121411753 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css121411753 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd121411754 ul li .subject a{font-weight : normal ;}
.custom_css_bd121411754 ul li .subject a{color : #4774A2 ;}
.custom_css_bd121411754 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd121411754 ul li img{border-style : solid ;}
.custom_css124143913 .hd{background:none; background-image :  url(http://cms.tianyaui.com/cms_fragments/res/4778/images/section.jpg                 );background-repeat : no-repeat ;background-position : -18px 10px ;border : none ;height : 30px ;}
.custom_css124143913 .hd h2{line-height : 25px ;}
.custom_css124143913 .hd{padding-top : 16px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css124143913 .hd h2{color : #000000 ;font-family : 宋体 ;font-size : 14px ;font-weight : bold ;}
.custom_css124143913 .bd{border : none ;display : none ;padding : 0px ;}
.custom_css123181939 .hd{background:none; background-image :  url(http://cms.tianyaui.com/cms_fragments/res/4778/images/section.jpg                         );background-repeat : no-repeat ;background-position : 8px 2px ;border : none ;height : 30px ;}
.custom_css123181939 .hd h2{line-height : 20px ;}
.custom_css123181939 .hd{padding-top : 12px ;padding-right : 0px ;padding-bottom : 6px ;padding-left : 0px ;}
.custom_css123181939 .hd h2{color : #000000 ;font-family : 宋体 ;font-size : 14px ;font-weight : bold ;}
.custom_css123181939 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd123181939 a{color : #A9A9A9 ;}
.custom_css_bd123181939 a:hover{text-decoration:none; cursor:default}
.custom_css_bd123181939 ul li h3 a{color : #4774A2 ;}
.custom_css_bd123181939 ul li h3 a:hover{ text-decoration:underline; cursor:pointer; }
.custom_css123173044 .hd{background : none ;border : none ;}
.custom_css123173044 .hd{padding-top : 5px ;padding-right : 0px ;padding-bottom : 15px ;padding-left : 0px ;}
.custom_css123173044 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css123173044 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd123173044 ul li .subject a{font-weight : normal ;}
.custom_css_bd123173044 ul li .subject a{color : #4774A2 ;}
.custom_css_bd123173044 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd123173044 ul li .summary .sumLink a{color : #4774A2 ;}
.custom_css_bd123173044 ul li img{border-style : solid ;}
.custom_css1214165716 .hd{background : none ;border : none ;}
.custom_css1214165716 .hd{padding-top : 13px ;padding-right : 0px ;padding-bottom : 13px ;padding-left : 0px ;}
.custom_css1214165716 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css1214165716 .bd{background : none ;border-left-style : none ;border-top-style : none ;border-bottom-style : none ;border-right-style : none ;border : none ;padding-top : 0px ;padding-right : 0px ;padding-bottom : 0px ;padding-left : 0px ;}
.custom_css_bd121417141 ul li .subject a{font-weight : normal ;}
.custom_css_bd121417141 ul li .subject a{color : #4774A2 ;}
.custom_css_bd121417141 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd121417141 ul li img{border-style : solid ;}
.custom_css12141630 .hd{background : none ;border : none ;}
.custom_css12141630 .hd{padding-top : 14px ;padding-right : 0px ;padding-bottom : 10px ;padding-left : 0px ;}
.custom_css12141630 .hd h2{color : #000000 ;font-family : 微软雅黑 ;font-size : 18px ;font-weight : bold ;}
.custom_css12141630 .bd{background : none ;border : none ;padding : 0px ;}
.custom_css_bd12141630 ul li .subject a{font-weight : normal ;}
.custom_css_bd12141630 ul li .subject a{color : #4774A2 ;}
.custom_css_bd12141630 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd12141630 ul li img{border-style : solid ;}
.custom_css1515588 .hd{display : none ;}
.custom_css1515588 .bd{background : none ;border-color : #E6E6E6 ;border-width : 1px ;border-left-style : solid ;border-top-style : solid ;border-bottom-style : none ;border-right-style : solid ;padding-top : 0px ;padding-right : 0px ;padding-bottom : 0px ;padding-left : 0px ;}
.custom_css_bd124181528 ul li .subject a{font-weight : normal ;}
.custom_css_bd124181528 ul li .subject a{color : #006AAD ;}
.custom_css_bd124181528 ul li .subject a:hover{color : #FF3300 ;}
.custom_css_bd124181528 ul li .summary{color : #12px ;font-size : 12px ;}
.custom_css_bd124181528 ul li img{border-style : solid ;padding-top : 0px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
#bbs_num_location{position:relative;}
#bbs_num_div{position:absolute; top:-92px; left:109px;color:#4774A2;}
#bbs_num_div a{color:#4774A2;}
.no-join, .had-join{display:block;width:90px;height:30px;background:url(http://cms.tianyaui.com/cms_fragments/res/5178/images/joinbbs.gif) no-repeat}
.no-join{background-position:0px 0px;}
.had-join{background-position:-100px 0px;cursor:default;}
.custom_css110183134 .hd{background:none; background-image :  url(http://cms.tianyaui.com/cms_fragments/res/4778/images/section.jpg               );background-repeat : no-repeat ;background-position : 8px 12px ;border : none ;height : 30px ;}
.custom_css110183134 .hd h2{line-height : 25px ;}
.custom_css110183134 .hd{padding-top : 18px ;padding-right : 0px ;padding-bottom : 8px ;padding-left : 0px ;}
.custom_css110183134 .hd h2{color : #000000 ;font-family : 宋体 ;font-size : 14px ;font-weight : bold ;}
.custom_css110183134 .bd{border : none ;display : none ;padding : 0px ;}
